:root {
  --color-background: whitesmoke;
  --primary: #111111;
  --secondary: #cacaca;
  --logo: #e60022;
  --transparent: rgba(245, 245, 245, 0.862);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dark {
  background-color: var(--primary);
  color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: var(--primary);
  color: var(--color-background);
  padding: 1rem 1.4rem;
  border-radius: 2rem;
}

li {
  list-style-type: none;
}

/* HEADER */

header {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  gap: 1.5rem;

}

header > h1 {
  background-color: var(--logo);
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  color: var(--color-background);
  cursor: pointer;
}

header input {
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  flex-grow: 1;
  background-color: var(--secondary);
  border: none;
  font-size: 1rem;
}

header img {
  height: 28px;
  width: 28px;
}

header button:hover {
  background-color: var(--secondary);
}

header .profileimg {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}


/* GALLERY STYLES */
main{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.gallery {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* @media screen and (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(1, fr);
  }
} */

@media screen and (max-width: 756px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  header > h1 {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }

  header .profileimg {
  display: none;
  }
  .searchbtn {
    border-radius: 50%;
    height: 40;
    width: 10px;
  }

  .darkmodebtn{
    display: none;
  }
  header img {
    height: 18px;
    width: 18px;
  }
  header{
    flex-direction: column;
  }


header input {
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  width: 200px;
  background-color: var(--secondary);
  border: none;
  font-size: 1rem;
}
}

@media screen and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
}


/* @media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}  */

